



<!--begin::Content-->

    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">


            <!--end::Modals-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
<!--end::Content-->

		<!--begin::Global Javascript Bundle(used by all pages)-->
		<script src="/assets/plugins/global/plugins.bundle.js"></script>
		<script src="/assets/js/scripts.bundle.js"></script>
		<!--end::Global Javascript Bundle-->
		<!--begin::Page Vendors Javascript(used by this page)-->
		<script src="/assets/plugins/custom/leaflet/leaflet.bundle.js"></script>
		<script src="/assets/plugins/custom/datatables/datatables.bundle.js"></script>
		<!--end::Page Vendors Javascript-->
        
<script src="/assets/js/myScripts/customer/new.js"></script>

<!--begin::Page Custom Javascript(used by this page)-->
<script src="/assets/js/myScripts/customer/list.js"></script>

<!--end::Page Custom Javascript-->