<!--begin::Container-->
<div class="container-xxl" id="kt_content_container">
    <!--begin::Form-->
    <form id="kt_ecommerce_edit_order_form" class="form d-flex flex-column flex-lg-row"
        data-kt-redirect="../../demo9/dist/apps/ecommerce/sales/listing.html">
        <!--begin::Aside column-->
        <div class="w-100 flex-lg-row-auto w-lg-400px mb-7 me-7 me-lg-10">
            <!--begin::Order details-->
            <div class="card card-flush py-4 mb-7">
                <!--begin::Card header-->
                <div class="card-header">
                    <div class="card-title">
                        <h2>تفاصيل المشتري</h2>
                    </div>
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body pt-0">
                    <div class="table-responsive">
                        <!--begin::Table-->
                        <table class="table align-middle table-row-bordered mb-0 fs-6 gy-5 min-w-300px">
                            <!--begin::Table body-->
                            <tbody class="fw-bold text-gray-600">
                                <!--begin::Customer name-->
                                <tr>
                                    <td class="text-muted">
                                        <div class="d-flex align-items-center">
                                            <!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
                                            <span class="svg-icon svg-icon-2 me-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none">
                                                    <path opacity="0.3"
                                                        d="M22 12C22 17.5 17.5 22 12 22C6.5 22 2 17.5 2 12C2 6.5 6.5 2 12 2C17.5 2 22 6.5 22 12ZM12 7C10.3 7 9 8.3 9 10C9 11.7 10.3 13 12 13C13.7 13 15 11.7 15 10C15 8.3 13.7 7 12 7Z"
                                                        fill="black"></path>
                                                    <path
                                                        d="M12 22C14.6 22 17 21 18.7 19.4C17.9 16.9 15.2 15 12 15C8.8 15 6.09999 16.9 5.29999 19.4C6.99999 21 9.4 22 12 22Z"
                                                        fill="black"></path>
                                                </svg>
                                            </span>
                                            <!--end::Svg Icon-->المشتري
                                        </div>
                                    </td>
                                    <td class="fw-bolder text-end">
                                        <div class="d-flex align-items-center justify-content-end">
                                            <!--begin:: Avatar -->
                                            <div class="symbol symbol-circle symbol-25px overflow-hidden me-3">
                                                <a href="../../demo9/dist/apps/user-management/users/view.html">
                                                    <div class="symbol-label">
                                                        <img src="/assets/media/avatars/300-23.jpg" alt="Dan Wilson"
                                                            class="w-100">
                                                    </div>
                                                </a>
                                            </div>
                                            <!--end::Avatar-->
                                            <!--begin::Name-->
                                            <a href="../../demo9/dist/apps/user-management/users/view.html"
                                                class="text-gray-600 text-hover-primary">فادي محسن</a>
                                            <!--end::Name-->
                                        </div>
                                    </td>
                                </tr>
                                <!--end::Customer name-->
                                <!--begin::Customer email-->
                                <tr>
                                    <td class="text-muted">
                                        <div class="d-flex align-items-center">
                                            <!--begin::Svg Icon | path: icons/duotune/communication/com011.svg-->
                                            <span class="svg-icon svg-icon-2 me-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none">
                                                    <path opacity="0.3"
                                                        d="M21 19H3C2.4 19 2 18.6 2 18V6C2 5.4 2.4 5 3 5H21C21.6 5 22 5.4 22 6V18C22 18.6 21.6 19 21 19Z"
                                                        fill="black"></path>
                                                    <path
                                                        d="M21 5H2.99999C2.69999 5 2.49999 5.10005 2.29999 5.30005L11.2 13.3C11.7 13.7 12.4 13.7 12.8 13.3L21.7 5.30005C21.5 5.10005 21.3 5 21 5Z"
                                                        fill="black"></path>
                                                </svg>
                                            </span>
                                            <!--end::Svg Icon-->البريد الإلكتروني
                                        </div>
                                    </td>
                                    <td class="fw-bolder text-end">
                                        <a href="../../demo9/dist/apps/user-management/users/view.html"
                                            class="text-gray-600 text-hover-primary">dam@consilting.com</a>
                                    </td>
                                </tr>
                                <!--end::Payment method-->
                                <!--begin::Date-->
                                <tr>
                                    <td class="text-muted">
                                        <div class="d-flex align-items-center">
                                            <!--begin::Svg Icon | path: icons/duotune/electronics/elc003.svg-->
                                            <span class="svg-icon svg-icon-2 me-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none">
                                                    <path
                                                        d="M5 20H19V21C19 21.6 18.6 22 18 22H6C5.4 22 5 21.6 5 21V20ZM19 3C19 2.4 18.6 2 18 2H6C5.4 2 5 2.4 5 3V4H19V3Z"
                                                        fill="black"></path>
                                                    <path opacity="0.3" d="M19 4H5V20H19V4Z" fill="black"></path>
                                                </svg>
                                            </span>
                                            <!--end::Svg Icon-->رقم الجوال
                                        </div>
                                    </td>
                                    <td class="fw-bolder text-end">0592273381</td>
                                </tr>
                                <!--end::Date-->
                            </tbody>
                            <!--end::Table body-->
                        </table>
                        <!--end::Table-->
                    </div>
                </div>
                <!--end::Card header-->
            </div>
            <!--end::Order details-->
            <!--begin::Order details-->
            <div class="card card-flush py-4">
                <!--begin::Card header-->
                <div class="card-header">
                    <div class="card-title">
                        <h2>تفاصيل الطلبية</h2>
                    </div>
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body pt-0">
                    <div class="d-flex flex-column gap-10">
                        <!--begin::Input group-->
                        <div class="fv-row">
                            <!--begin::Label-->
                            <label class="form-label">السيريال</label>
                            <!--end::Label-->
                            <!--begin::Auto-generated ID-->
                            <div class="fw-bolder fs-3">#12566</div>
                            <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="fv-row">
                            <!--begin::Label-->
                            <label class="required form-label">طريقة الدفع</label>
                            <!--end::Label-->
                            <!--begin::Select2-->
                            <select class="form-select mb-2" data-control="select2" data-hide-search="true"
                                data-placeholder="أختر" name="payment_method"
                                id="order_payment">
                                <option></option>
                                <option value="cash">كاش</option>
                                <option value="batch">دفعة</option>
                            </select>
                            <!--end::Select2-->
                            <!--begin::Description-->
                            <div class="text-muted fs-7">في حالة الدفعة سيتم ترحيل الباقي على الحساب.</div>
                            <!--end::Description-->
                        </div>
                        <!--end::Input group-->
                       
                    </div>
                </div>
                <!--end::Card header-->
            </div>
            <!--end::Order details-->
        </div>
        <!--end::Aside column-->
        <!--begin::Main column-->
        <div class="card card-flush py-4 flex-row-fluid overflow-hidden">
            <!--begin::Card header-->
            <div class="card-header">
                <div class="card-title">
                    <h2>Order #14534</h2>
                </div>
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-0">
                <div class="table-responsive">
                    <!--begin::Table-->
                    <table class="table align-middle table-row-dashed fs-6 gy-5 mb-0">
                        <!--begin::Table head-->
                        <thead>
                            <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                <th class="min-w-175px">Product</th>
                                <th class="min-w-100px text-end">SKU</th>
                                <th class="min-w-70px text-end">Qty</th>
                                <th class="min-w-100px text-end">Unit Price</th>
                                <th class="min-w-100px text-end">Total</th>
                            </tr>
                        </thead>
                        <!--end::Table head-->
                        <!--begin::Table body-->
                        <tbody class="fw-bold text-gray-600">
                            <!--begin::Products-->
                            <tr>
                                <!--begin::Product-->
                                <td>
                                    <div class="d-flex align-items-center">
                                        <!--begin::Thumbnail-->
                                        <a href="../../demo9/dist/apps/ecommerce/catalog/edit-product.html"
                                            class="symbol symbol-50px">
                                            <span class="symbol-label"
                                                style="background-image:url(/assets/media//stock/ecommerce/1.gif);"></span>
                                        </a>
                                        <!--end::Thumbnail-->
                                        <!--begin::Title-->
                                        <div class="ms-5">
                                            <a href="../../demo9/dist/apps/ecommerce/catalog/edit-product.html"
                                                class="fw-bolder text-gray-600 text-hover-primary">Product 1</a>
                                            <div class="fs-7 text-muted">Delivery Date: 12/01/2022</div>
                                        </div>
                                        <!--end::Title-->
                                    </div>
                                </td>
                                <!--end::Product-->
                                <!--begin::SKU-->
                                <td class="text-end">03673003</td>
                                <!--end::SKU-->
                                <!--begin::Quantity-->
                                <td class="text-end">2</td>
                                <!--end::Quantity-->
                                <!--begin::Price-->
                                <td class="text-end">$120.00</td>
                                <!--end::Price-->
                                <!--begin::Total-->
                                <td class="text-end">$240.00</td>
                                <!--end::Total-->
                            </tr>
                            <tr>
                                <!--begin::Product-->
                                <td>
                                    <div class="d-flex align-items-center">
                                        <!--begin::Thumbnail-->
                                        <a href="../../demo9/dist/apps/ecommerce/catalog/edit-product.html"
                                            class="symbol symbol-50px">
                                            <span class="symbol-label"
                                                style="background-image:url(/assets/media//stock/ecommerce/100.gif);"></span>
                                        </a>
                                        <!--end::Thumbnail-->
                                        <!--begin::Title-->
                                        <div class="ms-5">
                                            <a href="../../demo9/dist/apps/ecommerce/catalog/edit-product.html"
                                                class="fw-bolder text-gray-600 text-hover-primary">Footwear</a>
                                            <div class="fs-7 text-muted">Delivery Date: 12/01/2022</div>
                                        </div>
                                        <!--end::Title-->
                                    </div>
                                </td>
                                <!--end::Product-->
                                <!--begin::SKU-->
                                <td class="text-end">04229004</td>
                                <!--end::SKU-->
                                <!--begin::Quantity-->
                                <td class="text-end">1</td>
                                <!--end::Quantity-->
                                <!--begin::Price-->
                                <td class="text-end">$24.00</td>
                                <!--end::Price-->
                                <!--begin::Total-->
                                <td class="text-end">$24.00</td>
                                <!--end::Total-->
                            </tr>
                            <!--end::Products-->
                            <!--begin::Subtotal-->
                            <tr>
                                <td colspan="4" class="text-end">Subtotal</td>
                                <td class="text-end">$264.00</td>
                            </tr>
                            <!--end::Subtotal-->
                            <!--begin::VAT-->
                            <tr>
                                <td colspan="4" class="text-end">VAT (0%)</td>
                                <td class="text-end">$0.00</td>
                            </tr>
                            <!--end::VAT-->
                            <!--begin::Shipping-->
                            <tr>
                                <td colspan="4" class="text-end">Shipping Rate</td>
                                <td class="text-end">$5.00</td>
                            </tr>
                            <!--end::Shipping-->
                            <!--begin::Grand total-->
                            <tr>
                                <td colspan="4" class="fs-3 text-dark text-end">Grand Total</td>
                                <td class="text-dark fs-3 fw-boldest text-end">$269.00</td>
                            </tr>
                            <!--end::Grand total-->
                        </tbody>
                        <!--end::Table head-->
                    </table>
                    <!--end::Table-->
                </div>
            </div>
            <!--end::Card body-->
        </div>

        <!--end::Main column-->
    </form>
    <!--end::Form-->
</div>
<!--end::Container-->


<!--begin::Javascript-->
<!--begin::Global Javascript Bundle(used by all pages)-->
<script src="/assets/plugins/global/plugins.bundle.js"></script>
<script src="/assets/js/scripts.bundle.js"></script>
<!--end::Global Javascript Bundle-->
<!--begin::Page Vendors Javascript(used by this page)-->
<script src="/assets/plugins/custom/datatables/datatables.bundle.js"></script>
<script src="/assets/plugins/custom/formrepeater/formrepeater.bundle.js"></script>
<!--end::Page Vendors Javascript-->
<!--begin::Page Custom Javascript(used by this page)-->
<script src="/assets/js/myScripts/item/list.js"></script>
<script src="/assets/js/myScripts/item/cart/add.js"></script>

<!--end::Page Custom Javascript-->
<!--end::Javascript-->